@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>TABLE ADD PAGE</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/Home/Viewws">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/Home/Create">Add Datas Into Tables</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Delete">Delete Datas From Tables</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Update">Update Datas From Tables</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Viewws">View Tables</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <hr id="woop3" />

            <div class="container-fluid bg-2 text-center">
                <h2 id="headerunic">HOME</h2>
                <hr id="headerunic" />
                <a href="/Home/CreateViewCpu" class="btn btn-primary">Add Datas Into CPU Table</a>
                <a href="#" id="woop"></a>
                <a href="/Home/CreateViewMobo" class="btn btn-primary">Add Datas Into MOTHERBOARD Table</a>
                <a href="#" id="woop"></a>
            </div>
        </div>
    </div>



</body>
</html>