@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>HOME</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="container-fluid bg-2 text-center">
                <h2 id="headerunic">HOME</h2>
                <hr id="headerunic" />
                <a href="/Home/Create" class="btn btn-primary">Add Datas Into Tables</a>
                <a href="#" id="woop"></a>
                <a href="/Home/Delete" class="btn btn-danger">Delete Datas From Tables</a>
                <a href="#" id="woop"></a>
                <a href="/Home/Update" class="btn btn-primary">Update Datas From Tables</a>
                <a href="#" id="woop"></a>
                <a href="/Home/Viewws" class="btn btn-primary">View Tables</a>
            </div>
        </div>
    </div>
</body>
</html>