@model  dataAccess.Entity.Motherboard

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>UPDATE TABLE PAGE</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/Home/Viewws">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/Home/Create">Add Datas Into Tables</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Delete">Delete Datas From Tables</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Update">Update Datas From Tables</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Viewws">View Tables</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <hr id="woop3" />

            <div class="row">
                <div class="col-12">
                    <form action="/home/UpdateMobo" method="post">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Motherboard Id</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" name="moboId" value="@Model.moboId">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Motherboard Chipset Name</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" name="chipsetName" value="@Model.chipsetName">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Motherboard Name</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" name="name" value="@Model.name">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Motherboard Socket</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" name="socketName" value="@Model.socketName">
                        </div>
                        <button class="btn btn-primary" type="submit" value="Submit">Update</button>
                    </form>
                </div>
            </div>

        </div>
    </div>



</body>
</html>